@import "./common/var";
.hw-button {
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  background: $white-color;
  border: 1px solid #ddd;
  color: $black-color;
  text-align: center;
  outline: none;
  font-size: $base-font;
  border-radius: 4px;
  margin-left: 10px;
  &:hover{
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }
  &:focus{
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }
}

.hw-button.hw-button-size-big {
  padding: 12px 15px
}

.hw-button.hw-button-size-mid {
  padding: 9px 15px
}

.hw-button.hw-button-size-small {
  padding: 7px 15px
}

.hw-button.hw-button-size-mini {
  padding: 5px 10px
}

.hw-button.hw-button-primary{
  color: $white-color;
  background: $primary-color;
  border-color: $primary-color;
  &:hover{
    background: $primary-hover-color;
    border-color: $primary-hover-color;
    color: $white-color;
  }
}
.hw-button.hw-button-success{
  color: $white-color;
  background-color: $success-color;
  border-color: $success-color;
  &:hover{
    background: $success-hover-color;
    border-color: $success-hover-color;
    color: $white-color;
  }
}
.hw-button.hw-button-info{
  color: $white-color;
  background-color: $info-color;
  border-color: $info-color;
  &:hover{
    background: $info-hover-color;
    border-color: $info-hover-color;
    color: $white-color;
  }
}
.hw-button.hw-button-warning{
  color: $white-color;
  background-color: $warning-color;
  border-color: $warning-color;
  &:hover{
    background: $warning-hover-color;
    border-color: $warning-hover-color;
    color: $white-color;
  }
}
.hw-button.hw-button-danger{
  color: $white-color;
  background-color: $danger-color;
  border-color: $danger-color;
  &:hover{
    background: $danger-hover-color;
    border-color: $danger-hover-color;
    color: $white-color;
  }
}

.hw-button.is-round{
  border-radius: 20px;
  padding: 12px 15px
}

.hw-button.hw-button-wayra{
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  background: none;
  transition-timing-function: cubic-bezier(0.2 ,1, 0.3, 1);
  position: relative;
  overflow: hidden;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: $primary-color;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }
  &:hover{
    span{
      color: $white-color;
    }
    &::before{
      opacity: 1;
      background: $primary-color;
      color: $white-color;
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      -moz-transform: rotate3d(0, 0, 1, 0deg);
      -ms-transform: rotate3d(0, 0, 1, 0deg);
      -o-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
  }
}
.hw-button.hw-button-wayra-success{
  &::before{
    background: $success-color;
  }
  &:hover{
    &::before{
      background: $success-hover-color;
    }
  }
}
.hw-button.hw-button-wayra-info{
  &::before{
    background: $info-color;
  }
  &:hover{
    &::before{
      background: $info-hover-color;
    }
  }
}
.hw-button.hw-button-wayra-warning{
  &::before{
    background: $warning-color;
  }
  &:hover{
    &::before{
      background: $warning-hover-color;
    }
  }
}
.hw-button.hw-button-wayra-danger{
  &::before{
    background: $danger-color;
  }
  &:hover{
    &::before{
      background: $danger-hover-color;
    }
  }
}

.hw-button.hw-button-aylen{
  overflow: hidden;
  position: relative;
  background: none;
  &::before,&::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 100%;
    z-index: -1;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
  }
  &::before{
    background: $primary-hover-color;
  }
  &::after{
    background: $primary-color;
  }
  &:hover{
    color: $white-color;
    border: 1px solid transparent;
    span{
      color: #fff;
    }
    &::before,&::after{
      -webkit-transform: translate3d(0, 100%, 0);
      -moz-transform: translate3d(0, 100%, 0);
      -ms-transform: translate3d(0, 100%, 0);
      -o-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    &::after{
      -webkit-transition-delay: .175s;
      -moz-transition-delay: .175s;
      -ms-transition-delay: .175s;
      -o-transition-delay: .175s;
      transition-delay: .175s;
    }
  }
}
.hw-button.hw-button-aylen-success{
  &::before{
    background: $success-hover-color;
  }
  &::after{
    background: $success-color;
  }
}
.hw-button.hw-button-aylen-info{
  &::before{
    background: $info-hover-color;
  }
  &::after{
    background: $info-color;
  }
}
.hw-button.hw-button-aylen-danger{
  &::before{
    background: $danger-hover-color;
  }
  &::after{
    background: $danger-color;
  }
}

.hw-button.hw-button-rayen{
  position: relative;
  overflow: hidden;
  background: none;
  &::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: -1px;
    width: 100%;
    height: 100%;
    background: $primary-color;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  span{
    display: block;
  }
  &:hover{
    border: 1px solid transparent;
    &::before{
      color: $white-color;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    span{
      -webkit-transform: translate3d(0, 300%, 0);
      -moz-transform: translate3d(0, 300%, 0);
      -ms-transform: translate3d(0, 300%, 0);
      -o-transform: translate3d(0, 300%, 0);
      transform: translate3d(0, 300%, 0);
    }
  }
}
.hw-button.hw-button-rayen::before,
.hw-button.hw-button-rayen > span{
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -ms-transition: transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  -webkit-transition-timing-function: cubic-bezier(.75, 0, .125, 1);
  -moz-transition-timing-function: cubic-bezier(.75, 0, .125, 1);
  -ms-transition-timing-function: cubic-bezier(.75, 0, .125, 1);
  -o-transition-timing-function: cubic-bezier(.75, 0, .125, 1);
  transition-timing-function: cubic-bezier(.75, 0, .125, 1);
}
.hw-button.hw-button-rayen-success{
  &::before{
    background: $success-color;
  }
}
.hw-button.hw-button-rayen-info{
  &::before{
    background: $info-color;
  }
}
.hw-button.hw-button-rayen-warning{
  &::before{
    background: $warning-color;
  }
}
.hw-button.hw-button-rayen-danger{
  &::before{
    background: $danger-color;
  }
}
