.hw-button {
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ddd;
  color: #000;
  text-align: center;
  outline: none;
  font-size: 14px;
  border-radius: 4px;
  margin-left: 10px;
}
.hw-button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.hw-button:focus {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.hw-button.hw-button-size-big {
  padding: 12px 15px;
}
.hw-button.hw-button-size-mid {
  padding: 9px 15px;
}
.hw-button.hw-button-size-small {
  padding: 7px 15px;
}
.hw-button.hw-button-size-mini {
  padding: 5px 10px;
}
.hw-button.hw-button-primary {
  color: #fff;
  background: #409eff;
  border-color: #409eff;
}
.hw-button.hw-button-primary:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
.hw-button.hw-button-success {
  color: #fff;
  background-color: #67c23a;
  border-color: #67c23a;
}
.hw-button.hw-button-success:hover {
  background: #85ce61;
  border-color: #85ce61;
  color: #fff;
}
.hw-button.hw-button-info {
  color: #fff;
  background-color: #909399;
  border-color: #909399;
}
.hw-button.hw-button-info:hover {
  background: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
}
.hw-button.hw-button-warning {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}
.hw-button.hw-button-warning:hover {
  background: #ebb563;
  border-color: #ebb563;
  color: #fff;
}
.hw-button.hw-button-danger {
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
}
.hw-button.hw-button-danger:hover {
  background: #f78989;
  border-color: #f78989;
  color: #fff;
}
.hw-button.is-round {
  border-radius: 20px;
  padding: 12px 15px;
}
.hw-button.hw-button-wayra {
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  background: none;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  position: relative;
  overflow: hidden;
}
.hw-button.hw-button-wayra::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #409eff;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.hw-button.hw-button-wayra:hover span {
  color: #fff;
}
.hw-button.hw-button-wayra:hover::before {
  opacity: 1;
  background: #409eff;
  color: #fff;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  -moz-transform: rotate3d(0, 0, 1, 0deg);
  -ms-transform: rotate3d(0, 0, 1, 0deg);
  -o-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -ms-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.hw-button.hw-button-wayra-success::before {
  background: #67c23a;
}
.hw-button.hw-button-wayra-success:hover::before {
  background: #85ce61;
}
.hw-button.hw-button-wayra-info::before {
  background: #909399;
}
.hw-button.hw-button-wayra-info:hover::before {
  background: #a6a9ad;
}
.hw-button.hw-button-wayra-warning::before {
  background: #e6a23c;
}
.hw-button.hw-button-wayra-warning:hover::before {
  background: #ebb563;
}
.hw-button.hw-button-wayra-danger::before {
  background: #f56c6c;
}
.hw-button.hw-button-wayra-danger:hover::before {
  background: #f78989;
}
.hw-button.hw-button-aylen {
  overflow: hidden;
  position: relative;
  background: none;
}
.hw-button.hw-button-aylen::before,
.hw-button.hw-button-aylen::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 100%;
  z-index: -1;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
}
.hw-button.hw-button-aylen::before {
  background: #66b1ff;
}
.hw-button.hw-button-aylen::after {
  background: #409eff;
}
.hw-button.hw-button-aylen:hover {
  color: #fff;
  border: 1px solid transparent;
}
.hw-button.hw-button-aylen:hover span {
  color: #fff;
}
.hw-button.hw-button-aylen:hover::before,
.hw-button.hw-button-aylen:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.hw-button.hw-button-aylen:hover::after {
  -webkit-transition-delay: 0.175s;
  -moz-transition-delay: 0.175s;
  -ms-transition-delay: 0.175s;
  -o-transition-delay: 0.175s;
  transition-delay: 0.175s;
}
.hw-button.hw-button-aylen-success::before {
  background: #85ce61;
}
.hw-button.hw-button-aylen-success::after {
  background: #67c23a;
}
.hw-button.hw-button-aylen-info::before {
  background: #a6a9ad;
}
.hw-button.hw-button-aylen-info::after {
  background: #909399;
}
.hw-button.hw-button-aylen-danger::before {
  background: #f78989;
}
.hw-button.hw-button-aylen-danger::after {
  background: #f56c6c;
}
.hw-button.hw-button-rayen {
  position: relative;
  overflow: hidden;
  background: none;
}
.hw-button.hw-button-rayen::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: -1px;
  width: 100%;
  height: 100%;
  background: #409eff;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.hw-button.hw-button-rayen span {
  display: block;
}
.hw-button.hw-button-rayen:hover {
  border: 1px solid transparent;
}
.hw-button.hw-button-rayen:hover::before {
  color: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.hw-button.hw-button-rayen:hover span {
  -webkit-transform: translate3d(0, 300%, 0);
  -moz-transform: translate3d(0, 300%, 0);
  -ms-transform: translate3d(0, 300%, 0);
  -o-transform: translate3d(0, 300%, 0);
  transform: translate3d(0, 300%, 0);
}
.hw-button.hw-button-rayen::before,
.hw-button.hw-button-rayen > span {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -ms-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.hw-button.hw-button-rayen-success::before {
  background: #67c23a;
}
.hw-button.hw-button-rayen-info::before {
  background: #909399;
}
.hw-button.hw-button-rayen-warning::before {
  background: #e6a23c;
}
.hw-button.hw-button-rayen-danger::before {
  background: #f56c6c;
}
