// base color
$primary-color = #409eff;
$primary-hover-color = #66b1ff;
$success-color = #67c23a;
$success-hover-color = #85ce61;
$info-color = #909399;
$info-hover-color = #a6a9ad;
$warning-color = #e6a23c;
$warning-hover-color = #ebb563;
$danger-color = #f56c6c;
$danger-hover-color = #f78989;
$white-color = #fff;
$black-color = #000;
// base font
$base-font = 14px;
